<div class="content">
    <div class="category_detail">
          <div class="group">
            <%= @category.subject %>
            <%= form_with model: @content, method: :post, url: content_confirm_path, class: 'form', local: true do |f| %>
              <div class="form-input"> 
                <%= f.hidden_field :detail, class: 'form-message' %>
                <%= f.submit '登録', class: 'form-submit' %>
              </div> 
            <% end %>
          </div>

    </div>
</div>
