<%# 銀行ごとの情報追加ページ %>
  <div class="content">
    <div class="category_detail">
      <% @categories.each do |category| %>
          <div class="group">
              <%= category.subject %>
          </div>
      <% end %>
    </div>
  </div>


  <%= form_with model: [@bank, @content], class: 'form', local: true do |f| %>
    <div class="field">
      <%= f.text_field :detail, class: 'form-content', placeholder: '内容の入力' %>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
  