/* 新規カテゴリー作成ページ */

h1 {
  text-shadow: 1px 1px 2px silver;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
}
.add_bank{
  background-color: #EEEEEE;
  height: 100vh;
  padding: 5% 5%;

}

.bank-form {
  font-size: 24px;
  background-color: #EEEEEE;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.bank-form:before, .bank-form:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;

}
.bank-form:before {left: 10px;}
.bank-form:after {right: 10px;}


.bank-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.bank-form__label {
  display: flex;
  line-height: 50px;
  text-align: center;
  padding: 10px 15px;
  margin-left: 35%;
}
.bank-form__action-btn {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 15%;
  padding: 0.4em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 2px;
}

.bank-form__action-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


.bank-form__field_end {
  width:100%;
  display: flex;
  justify-content: center;
}

.bank-form__field{
  margin-top: 20px;
}

.bank-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.bank-form__field_box {
  display: flex;
  justify-content: center;
  margin:0 20px;
  width:100%;
}
.field_with_errors {
  display: contents;
}

/* 編集画面用 */
#flash_alert{
  text-align: center;
  color:red;
}

.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.bank-name{
  width: 40%;
  font-size: 16px;
  color:black;
  padding: 0.2em 0.5em;
    /* margin: 1em 0; */
    background: #f4f4f4;
    border-left: solid 6px red;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 1%);
    text-align: center;
}

.check_box{
  display: none;
}