/* 金融機関情報登録ページ */
#flash_alert{
  text-align: center;
  color:red;
}

.wrapper {
  display: flex;
}

.side-bar{
  background-color: rgb(165, 69, 69);
  height: 100px;
} 


.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #f1ae7e;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}


/* ↓カテゴリーの羅列 */

.data{
  display: flex;
  justify-content: center;
}
.data-display {
  background-color: white;
  height: 100vh;
  padding: 46px 40px 0;
  overflow: scroll;
  justify-content: center;
  display: flex;
}
.category_detail{
  width: auto;
  background-color: wheat;
  color: black;
}
.category_btn{
  width: auto;
  background-color: grey;
  color: black;
}
.group{
  padding: 0.25em 0.5em;
  font-size: 24px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.content_detail{
  width: auto;
  background-color: black;
  color: white;
}

.content_user{
  width: auto;
  background-color: yellowgreen;
  color: white;
}
.content_time{
  width: auto;
  background-color: navy;
  color: white;
}

.form-input{
  display:flex;
}
.form-message{
  display:flex;
}

.form-submit{
  display:flex;
}

.btn-square-little-rich {
  font-size: 17px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.btn-square-little-rich:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}